/* Universal styles */
body {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  /*text-align: center;*/
}

a {
  color: seashell;
  text-decoration: underline;
}

a:hover {
  color: lavender;
}

/* header styles */
nav {
  display: flex;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 3;
  align-items: center;
}
nav span {
  padding: 0 20px;
  text-align: right;
}

.logo {
  height: 50px;
  padding: 10px 10px;
}

/* mission styles */
#mission {
  display: flex;
  position: relative;
  background-image: url("../images/mission-background.jpg");
  background-size: 700px 1200px;
}

/* teas */
.container-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
figure {
  text-align: center;
}
img {
  height: 200px;
  width: 300px;
}

.locs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-image: url("../images/locations-background.jpg");
  height:  
}
.title {
  display: inline-block;
}

.addresses {
  margin: 15px 20px;
  background-color: pink;
  text-align: center;
}


/* footer styles */
footer {
  text-align: center;
  height: 200px;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
